/* custom.css */

html {
	height:100% !important;
	overflow:hidden;
}

body {
	margin:0;
	padding:0;
	position:absolute;
	overflow:hidden;
	width:100%;
	height:100% !important;
}

#pageMap {
	width:100%;
	height:100%;
	text-shadow:none !important;
}

#mapContainer {
	background-color:#333;
	width:100%;
	height:100%;
	left:0;
	top:0;
	padding:0px !important;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

#globe {
	background-color:#069;
	width:300px;
	height:300px;
	position:absolute;
	top:100px;
	left:100px;
	border-radius:150px;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	text-align:center;
}

#orchestra {
	background-color:#b96;
	width:100%;
	height:240px;
	position:absolute;
	bottom:0px;
	left:0px;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	text-align:center;
}

#instrument {
	background-color:#c66;
	width:90px;
	height:90px;
	border-radius:20px;
	position:absolute;
	top:200px;
	left:200px;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	text-align:center;
}

.seat {
	background-color:rgba(255,255,255,0.5);
	width:100px;
	height:100px;
	position:absolute;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	text-align:center;
}

.seat.over{
	background-color:rgba(255,255,255,0.9);
}

/* end */
